<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template3"
>
<head>
    <meta charset="UTF-8">
    <title>Liste des RDVs</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">

</head>
<body>



<div layout:fragment="content1">

    <div class=" container mt-2 " >
        <div class="card">
            <div class="card-header">LISTE DES RENDEZ VOUS</div>
            <div class="card-body">
                <div>

                    <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/user/rdv}">
                        <input type="date" name="keyword" th:value="${#dates.format(keyword, 'yyyy-MM-dd')}" class="form-control" placeholder="chercher un RDV">
                        <button class="btn btn-outline-info" type="submit">Rechercher</button>
                    </form>

                </div>

                <table class="table table-hover" >
                    <thead>
                    <tr class="table-warning">
                        <th scope="col">Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Medecin</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Supprimer</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each= "rdv:${listRDV}">
                        <td th:text="${rdv.id}"></td>
                        <td th:text="${rdv.date}"></td>
                        <td th:text="${rdv.statusRDV}"></td>
                        <td th:text="${rdv.patient.nom}"></td>
                        <td th:text="${rdv.medecin.nom}"></td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a onclick="return confirm('Etes vous sûr ? ')" class="btn btn-danger" th:href="@{/admin/deleteRDV(id=${rdv.id} ,page=${currentPage})}">
                                Supprimer
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a  class="btn btn-success"  th:href="@{/admin/EditRDV(id=${rdv.id},page=${currentPage})}">
                                Modifier
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <ul class=" nav nav-pills">
                    <li th:each="page, status:${pages}">
                        <a th:class="${status.index==currentPage}? 'btn btn-primary ms-1' : 'btn btn-outline-primary ms-1' "
                           th:href="@{/user/rdv(page=${status.index})}"
                           th:text="${status.index}"></a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>

</body>
</html>